:root {
  --primary-color: #523494;
  --white-color: #ffffff;
}
html {
  font-family: Arial, Helvetica, sans-serif !important;
}
main {
  margin-left: 13rem;
  padding-top: 4rem;
  padding-right: 1rem;
}
.cursor-pointer{
  cursor: pointer;
}